@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype')
}
body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --font-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-do-android: 'Android', 'cursive';}
*{
    margin:0px;
    padding:0px;
    text-align: center;
}

header{
    background-image: linear-gradient(to bottom , var(--cor2) , var(--cor5));
    min-height: 150px;
    padding-top: 40px;
}
header >h1{
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px #00000044;
    color:#fff;
    font-family:var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
}
header >p{
    color:#fff;
    text-shadow: 2px 2px 0px #0000005d;
    padding-left:10px;
    padding-right: 10px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    font-family: var(--font-padrao);
    font-size: 1,2em;
}
nav{
    padding:10px;
    background-color: var(--cor5);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    color:#fff;
    text-align: left;
    font-weight:bold
}
nav >a{
    padding: 10px;
    color: #fff;
    text-decoration:none;
    border-radius: 5px;
    transition-duration: .5s;
}
nav >a:hover{
    background-color:var(--cor3);
    color:var(--cor5);
}
div.video{
    background-color: var(--cor5);
    padding: 20px;
    padding-bottom: 50%;
    margin: 0px -20px 30px -20px;
    position: relative;
}
div.video >iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
/*Responsividade do site*/
main{
    background-color: #ffffff;
    padding:20px;
    border-radius: 10px;
    max-width: 1000px;
    min-width: 300px;
    margin:auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #0000006b;
    border-bottom-left-radius: 10px;
}
main h1{
    text-align:left;
    padding-bottom:13px;
    color: var(--cor5);
    font-family:var(--fonte-do-android);
    font-size: 1.4em;
    font-weight: normal;
}
main h2{
    text-align:left;
    padding-bottom:13px;
    padding-top: 13px;
    color:var(--cor4);
    font-family:var(--fonte-do-android);
    font-size: 1.3em;
    font-weight: normal;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    margin: auto;
    display: block;
}
main p{
    margin:15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main a{
    padding:2px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor2);
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
footer{
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
    background-color: var(--cor5);
    color: #fff;
}
footer a{
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
strong{
    color:var(--cor3);
    font-weight: bold;
}
aside >h3{
    text-align: left;
    border-radius: 10px 10px 0px 0px;
    padding:10px;
    margin: -10px -10px 0px -10px;
    color: #fff;
    background-color: var(--cor4);
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius:10px;
    box-shadow: 3px 3px 8px #00000048;
}
aside >ul{
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;
}
abbr{
    text-decoration: none;
}
li{
    text-align: left;
}
a.externo::after{
    content: '\1F517';
}

